.loader {
	width: var(--loader-size);
	height: var(--loader-size);
	border: 5px solid var(--loader-color);
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	animation: rotation var(--loader-duration) linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
