.music-player._active .music-menu {
	overflow-y: auto;
	transform: rotateY(360deg);
}

.music-menu {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	transform: rotateY(180deg);
}

.music-menu__top {
	position: sticky;
	top: 0;
	padding: var(--music-box-padding);
	transition: all var(--transition-duration);
	z-index: 1;
}

.music-menu__top._scroll {
	background-color: var(--music-box-menu-header-color);
}

.list-menu {
	padding: var(--music-box-padding);
	padding-top: 0;
}

.list-menu > *:not(:last-child) {
	margin-bottom: 15px;
}

.list-menu__item {
	display: flex;
	align-items: center;
	text-align: left;
	padding: var(--music-box-menu-item-padding);
	border-radius: var(--music-box-menu-item-radius);
	background-color: var(--background-item);
	gap: var(--music-box-menu-item-gap);
	transition: all var(--transition-duration);
	cursor: pointer;
}

.list-menu__item._active {
	box-shadow: inset 0 0 0 var(--music-box-menu-item-active-border) var(--music-box-menu-item-active-color);
	pointer-events: none;
}

.list-menu__image {
	flex: 0 0 var(--music-box-menu-item-image);
	height: var(--music-box-menu-item-image);
}

.list-menu__image img {
	border-radius: var(--music-box-menu-item-radius);
}

.list-menu__title {
	margin-bottom: 3px;
}
